
 
}
h1{
  text-align: center;
  font-size: 33px;
}
h2{
  text-align: center;
  
}
    #missao{
      font-size: 20px;
    }
#missao-destaque{
  color: blue;
}
h2{
  
}

.beneficios{
  background-color: #ffffff;
  padding: 20px;
}
.item{
  font-style: italic;
}
.imagem-beneficios{
  width: 40%;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 10%
}
.principal{
  background-color: #cccccc;
  padding: 30px;
}